[build]
  command = "npm run build"

[build.environment]
  NODE_VERSION = "20"
  SECRETS_SCAN_SMART_DETECTION_ENABLED = "false"


[functions]
  included_files = ["lib/catmat-db.json", "lib/caepi-db.json"]
